# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/huberman_bot/node_modules
/huberman_bot/.pnp
/huberman_bot/.pnp.js

# testing
/huberman_bot/coverage

# next.js
/huberman_bot/.next/
/huberman_bot/out/

# production
/huberman_bot/build

# misc
/huberman_bot/.DS_Store
/huberman_bot/*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
/huberman_bot/.env*.local

# vercel
/huberman_bot/.vercel

# typescript
/huberman_bot/*.tsbuildinfo
/huberman_bot/next-env.d.ts
